<header class="site-header">

  <div class="nav-wrapper">
    <div class="logo-mobile"><img src="{{ "/logo.png/" | prepend: site.baseurl }}"/></div>
    <nav class="site-nav">
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#resume">Resume</a></li>
        <li><a href="#projects">Projects</a></li>
      </ul>
    </nav>

  </div>
<div class="image-header">
    <p class="logo-desktop"> Mik<span class="light-yellow">h</span>aila Carti<span class="light-yellow">e</span>rs F<span class="light-yellow">r</span>isk<span class="light-yellow">e</span> </p>
    <p class="logo-tablet">Welco<span class="light-yellow">m</span>e</p>
</div>
</header>

