.desktop {
    display: inline;
}

.header {
    padding-bottom: 3em;
    position: relative;
    height: 28em;
    background-color: transparent;
    background-image: url("winter.jpg");
    background-size: cover;
    text-align: center;
}

.logo-mobile {
    display: none;
}
.logo-tablet {
    display: block;
    margin: auto;
    width: 100%;
    font-family: "Alegreya Sans SC";
    letter-spacing: 3px;
    font-size: 2.2em;
    color: #222;
    position: absolute;
    top: 6em;
    z-index: 4;
}

.resume-section {
    width: 50%;
    float: left;
}

.small {
    height: 10em;
}

.large {
    height: 15em;
}

.resume {
    padding-top: 2em;
}

.site-nav {
    text-align: right;
    margin: auto;
    padding: 1em;
    ul {
        margin: auto;
    }
}

.site-footer {
    padding-top: 0;
}

.footer-nav {
    text-align: center;
    float: none;
}

.mobile {
    display: none;
}

.copyright {
    padding: .5em 7em;
}

#personal-webspace {
    background-image: url("personal-webspace.png");
    background-size: 100% 100%;
}

#course-search {
    background-image: url("course-search.png");
    background-size: 100% 100%;
}

.float {
    width: 97.66%;
}
