.logo-mobile {
    display: none;
}
.logo-tablet {
    display: none;
}
.logo-desktop {
	display: block;
    margin: auto;
    width: 100%;
    font-family: "Alegreya Sans SC";
    letter-spacing: 3px;
    font-size: 3em;
    color: #222;
    position: absolute;
    font-weight: bold;
    top: 6em;
    z-index: 4;
}

.header {
	height: 42em;
	padding: 0;
}

.project-section {
	width: 50%;
	float: left;
}

.button {
    display: none;
}

.project-section:hover {
    .button {
        display: inline;
        opacity: .8;
    }
}

#projects {
	overflow: auto;
}