.logo-mobile {
    display: none;
}
.logo-tablet {
    display: none;
}
.logo-desktop {
	display: block;
    flex: 1 100%;
    text-align: center;
    margin: auto;
    width: 100%;
    font-family: "Alegreya Sans SC";
    letter-spacing: 3px;
    font-size: 3em;
    color: #222;
    position: relative;
    z-index: 4;
    font-weight: bold;
}

.header {
	height: 45em;
	padding: 0;
}

.image-header {
	height: 37em;
}

#personal-webspace {
	width: 50%;
}